html {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
caption,
canvas,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
form,
footer,
header,
hgroup,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
tt,
table,
tbody,
textarea,
tfoot,
thead,
time,
tr,
th,
td,
u,
ul,
var,
video {
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  quotes: none;
}

figure {
  margin: 0;
}

:focus {
  outline: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

legend {
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  max-width: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input {
  line-height: normal;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  line-height: 1;
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  border: none;
}

input[type=checkbox],
input[type=radio] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */
}

input[type=search] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
}

input[type=search]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}

label {
  margin-bottom: 5px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Repeatable Patterns
  -------------------------------------------------------------- */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "SF Pro Display", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #ffffff;
  color: #a1a1a1;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  outline: none;
  color: #262626;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a:hover, a:focus, a.active {
  text-decoration: none;
  outline: none;
  color: #033f38;
}

ul,
ol {
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

b,
strong {
  font-weight: 900;
}

h1 {
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

h2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h4 {
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #033f38;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #033f38;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #033f38;
}

button {
  border: none;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  width: 100%;
  padding: 18px 14px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: #033f38;
  border: 1px solid #033f38;
  color: #ffffff;
  text-transform: capitalize;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
  color: #033f38;
  background-color: #ffffff;
}

select,
textarea,
input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color] {
  width: 100%;
  font-size: 14px;
  border: 1px solid transparent;
  background-color: #f8f8f8;
  color: #262626;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 18px 14px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

textarea:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=time]:focus,
input[type=week]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=tel]:focus,
input[type=color]:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #033f38;
}

textarea:-moz-placeholder,
textarea::-moz-placeholder,
input:-moz-placeholder,
input::-moz-placeholder {
  color: #a1a1a1;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input:-ms-input-placeholder {
  color: #a1a1a1;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  color: #a1a1a1;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

textarea,
input[type=text],
input[type=submit],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color],
.uneditable-input,
.dropdown-menu,
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  -webkit-appearance: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.tf-container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.mr-0 {
  margin-right: 0;
}

.pt-128 {
  padding-top: 128px;
}

.mt--16 {
  margin-top: -16px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-17 {
  margin-top: 17px;
}

.mt--23 {
  margin-top: -23px;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-9 {
  margin-top: 9px;
}

.mt-12 {
  margin-top: 12px;
}

.pd28 {
  padding: 0 28%;
}

.pd22 {
  padding: 0 22%;
}

.mt-16 {
  margin-top: 16px !important;
}

.mt-19 {
  margin-top: 19px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-22 {
  margin-top: 22px;
}

.mb-22 {
  margin-bottom: 22px;
}

.mt-24 {
  margin-top: 24px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-27 {
  margin-top: 27px;
}

.mt-28 {
  margin-top: 28px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-37 {
  margin-top: 37px;
}

.mt-42 {
  margin-top: 42px;
}

.mt-48 {
  margin-top: 48px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-51 {
  margin-top: 51px;
}

.mt-52 {
  margin-top: 52px;
}

.mt-53 {
  margin-top: 53px;
}

.mt-61 {
  margin-top: 61px;
}

.mt-67 {
  margin-top: 67px;
}

.mt-104 {
  margin-top: 104px;
}

.mt-107 {
  margin-top: 107px;
}

.mt-200 {
  margin-top: 200px;
}

.mt-223 {
  margin-top: 223px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-6 {
  margin-bottom: 6px;
}

.mb-7 {
  margin-bottom: 7px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-26 {
  margin-bottom: 26px;
}

.mb-28 {
  margin-bottom: 28px;
}

.mb-29 {
  margin-bottom: 29px;
}

.mb-31 {
  margin-bottom: 31px;
}

.mb-33 {
  margin-bottom: 33px;
}

.mb-37 {
  margin-bottom: 37px;
}

.mb-41 {
  margin-bottom: 41px;
}

.mb-43 {
  margin-bottom: 43px;
}

.mb-46 {
  margin-bottom: 46px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-53 {
  margin-bottom: 53px;
}

.mb-58 {
  margin-bottom: 58px;
}

.mr-28 {
  margin-right: 28px;
}

.pt-12 {
  padding-top: 12px;
}

.pt-16 {
  padding-top: 16px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pt-24 {
  padding-top: 24px;
}

.pb-24 {
  padding-bottom: 24px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb8 {
  padding: 8px;
}

.bg-primary {
  background: #033f38;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.fade:not(.show) {
  opacity: 0;
}

.fade {
  transition: opacity 0.15s linear;
}

#navtabs-drink1 {
  background: #ffffff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;
  padding: 4px;
  box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.06);
}
#navtabs-drink1 .nav-item a {
  background-color: #f8f8f8;
  display: block;
  padding: 6px 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  font-style: normal;
  line-height: normal;
  color: #033f38;
}
#navtabs-drink1 .nav-item a.active {
  background-color: #033f38;
  color: #FFF1D0;
  font-weight: 700;
}

.tf-btn {
  width: 100%;
  border-radius: 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tf-btn.large {
  padding: 18px 14px;
}
.tf-btn.primary {
  background-color: #033f38;
  border: 1px solid #033f38;
  color: #ffffff;
}
.tf-btn.primary:hover {
  background-color: #ffffff;
  color: #033f38;
}
.tf-btn.rga-border {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.tf-btn.white {
  border: 1px solid transparent;
  background-color: #ffffff;
}
.tf-btn.outline {
  border: 1px solid #ebebeb;
  color: #033f38;
}
.tf-btn.outline:hover {
  background-color: #033f38;
  color: #ffffff;
}
.tf-btn.outline-dashed {
  border: 1px dashed rgba(3, 63, 56, 0.5);
  background: #e6ecec;
}

.tf-form.primary input {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
}
.tf-form.primary input:focus, .tf-form.primary input::placeholder {
  color: #ffffff;
  opacity: 0.5;
}

.menubar-footer {
  padding: 14px 15px 15px;
}
.menubar-footer.footer-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #ffffff;
}
.menubar-footer .inner {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}
.menubar-footer .inner li {
  padding: 0 0;
  width: 20%;
}
.menubar-footer .inner li.active a {
  color: #033f38;
  font-weight: 700;
}
.menubar-footer .inner li a {
  color: #a1a1a1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}
.menubar-footer .inner li a span {
  font-size: 24px;
}

.drink-swiper .swiper-slide {
  width: auto;
  margin-left: 10px;
}
.drink-swiper .swiper-slide.ml-1 {
  margin-left: 20px;
}
.drink-swiper .swiper-slide.ml-2 {
  margin-left: 15px;
}
.drink-swiper .swiper-slide-active .box-categories {
  border-color: transparent;
  box-shadow: 0px 8px 26px 0px rgba(0, 0, 0, 0.1);
}
.drink-swiper .swiper-slide-active .primary {
  background: #ffffff;
}
.drink-swiper .swiper-slide-active .primary span {
  color: #033f38;
}

.recomand-swiper .swiper-slide {
  transform: scaleY(0.9);
  -webkit-transform: scaleY(0.9);
  transition: 0.5s;
}
.recomand-swiper .swiper-slide-active .recomand-box {
  box-shadow: 0px 8px 30px 0px rgba(3, 63, 56, 0.3);
}

.drink-swiper-2 .swiper-slide.ml-1 {
  margin-left: 4px;
}

.tf-box-row {
  box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.06);
  border-radius: 16px;
  padding: 8px;
  display: flex;
  gap: 12px;
}
.tf-box-row .img-box {
  border-radius: 14px;
  overflow: hidden;
  max-width: 106px;
  height: 79px;
}
.tf-box-row .img-box img {
  width: 100%;
  height: 100%;
}
.tf-box-row .content-box {
  flex-grow: 1;
}
.tf-box-row .content-box .review {
  display: flex;
  align-items: center;
  margin: 4px 0px;
}
.tf-box-row .content-box .review li .icon-star {
  color: #ffc700;
  font-size: 14px;
  margin-right: 4px;
}
.tf-box-row .content-box .review li span {
  color: #343434;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}
.tf-box-row .content-box .review .dot-icon {
  width: 3px;
  height: 3px;
  background-color: #c4c4c4;
  border-radius: 50%;
  margin: 0px 6px;
}
.tf-box-row .content-box .price {
  display: flex;
  align-items: center;
  gap: 8px;
}
.tf-box-row .content-box .price .accent {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  color: #033f38;
}
.tf-box-row .content-box .price .del {
  text-decoration: line-through;
}
.tf-box-row .content-box .box-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tf-box-column {
  box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.06);
  border-radius: 16px;
  background: #ffffff;
}
.tf-box-column .content-box .review {
  display: flex;
  align-items: center;
  margin: 8px 0px;
}
.tf-box-column .content-box .review li .icon-star {
  color: #ffc700;
  font-size: 14px;
  margin-right: 4px;
}
.tf-box-column .content-box .review li span {
  color: #343434;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}
.tf-box-column .content-box .review .dot-icon {
  width: 3px;
  height: 3px;
  background-color: #c4c4c4;
  border-radius: 50%;
  margin: 0px 10px;
}
.tf-box-column .content-box .price {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  color: #033f38;
}
.tf-box-column .content-box .box-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tf-box-column.xl {
  padding: 8px;
}
.tf-box-column.xl .img-box {
  overflow: hidden;
  border-radius: 16px;
}
.tf-box-column.xl .img-box img {
  width: 100%;
  height: 100%;
}
.tf-box-column.xl .content-box {
  padding: 16px 8px 8px;
}
.tf-box-column.xl .content-box .price {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  color: #033f38;
}
.tf-box-column.lg .img-box {
  overflow: hidden;
  max-width: 209px;
  min-height: 156px;
  padding: 6px 6px 0px;
}
.tf-box-column.lg .img-box img {
  border-radius: 16px;
  width: 100%;
  height: 100%;
}
.tf-box-column.lg .content-box {
  padding: 16px;
}
.tf-box-column.md {
  padding: 8px;
}
.tf-box-column.md .img-box {
  overflow: hidden;
  width: 140px;
  height: 105px;
}
.tf-box-column.md .img-box img {
  border-radius: 14px;
  width: 100%;
  height: 100%;
}
.tf-box-column.md .content-box {
  margin-top: 8px;
}
.tf-box-column.md .content-box .review .dot-icon {
  margin: 0px 6px;
}
.tf-box-column.md .content-box .price {
  display: flex;
  flex-direction: column;
}
.tf-box-column.md .content-box .price .accent {
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  color: #033f38;
}
.tf-box-column.md .content-box .price .del {
  text-decoration: line-through;
  color: #a1a1a1;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}
.tf-box-column.md .content-box .box-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tf-box-column.sm .img-box {
  overflow: hidden;
  padding: 6px 6px 0px;
}
.tf-box-column.sm .img-box img {
  border-radius: 14px;
  width: 100%;
  height: 100%;
}
.tf-box-column.sm .content-box {
  padding: 12px 16px 16px;
}
.tf-box-column.sm .content-box .review .dot-icon {
  margin: 0px 6px;
}
.tf-box-column.sm .content-box .price {
  display: flex;
  flex-direction: column;
}
.tf-box-column.sm .content-box .price .accent {
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  color: #033f38;
}
.tf-box-column.sm .content-box .price .del {
  text-decoration: line-through;
  color: #a1a1a1;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}
.tf-box-column.sm .content-box .box-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-add {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  background-color: #033f38;
  padding-top: 2px;
  color: #fff1d0;
  font-size: 20px;
  border-radius: 50%;
}
.btn-add:hover, .btn-add:active {
  color: #fff1d0;
}

.search-box {
  position: relative;
}
.search-box .icon-search {
  position: absolute;
  left: 14px;
  top: 18px;
  font-size: 20px;
}
.search-box .icon-filter-2 {
  position: absolute;
  right: 14px;
  top: 18px;
  font-size: 20px;
  color: #343434;
}
.search-box input {
  padding-right: 42px;
  padding-left: 42px;
}

.box-categories {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 8px;
  border-radius: 100px;
  background: #fff;
  border: 1px solid #f1f1f1;
}
.box-categories .images {
  max-width: 35px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
}
.box-categories .images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box-categories span {
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
  color: #033f38;
}
.box-categories.primary {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
}
.box-categories.primary span {
  color: #ffffff;
}

.box-collections {
  position: relative;
}
.box-collections .images {
  border-radius: 16px;
  max-width: 156px;
  height: 210px;
  overflow: hidden;
}
.box-collections .images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.box-collections .content {
  position: absolute;
  padding: 10px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
}
.box-collections .content a,
.box-collections .content p {
  color: #ffffff;
}

.recomand-box {
  border-radius: 16px;
  position: relative;
}
.recomand-box::after {
  content: "";
  position: absolute;
  border-radius: 16px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
}
.recomand-box .img-box {
  position: relative;
}
.recomand-box .img-box .bg {
  display: block;
  width: auto;
  height: 148px;
  overflow: hidden;
  border-radius: 16px;
}
.recomand-box .img-box .bg img {
  width: 100%;
  height: 100%;
}
.recomand-box .img-box .logo {
  max-width: 100px;
  height: 123px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.recomand-box .img-box .logo img {
  width: 100%;
  height: 100%;
}

.wrap-categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}
.wrap-categories .categories-item .box-img {
  border-radius: 16px;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.wrap-categories .categories-item .box-img img {
  width: 100%;
  height: 100%;
}
.wrap-categories .categories-item .content {
  padding: 12px 14px 0px;
  text-align: center;
}
.wrap-categories .categories-item .content p {
  color: #033f38;
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}
.wrap-categories .categories-item .content span {
  font-weight: 400;
  color: #a1a1a1;
  font-style: normal;
  line-height: normal;
}

#app > h1 {
  padding-right: 70px;
}
#app .header-location p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  opacity: 0.400000006;
}
#app .header-location span {
  margin-top: 6px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 4px;
}
#app .wrap-swiper {
  margin-left: -20px;
  margin-right: -20px;
}
#app .section .title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#app .section .title-bar h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
#app .section .title-bar a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  gap: 2px;
}

.home-2 h1,
.home-3 h1,
.home-4 h1 {
  color: #ffffff;
}

.home-2 {
  position: relative;
}
.home-2::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  content: "";
  z-index: -1;
  display: block;
  height: 260px;
  background: #033f38;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.home-2 .section .wrap-box-sm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.home-3 {
  position: relative;
  overflow-x: hidden;
}
.home-3::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  content: "";
  z-index: -1;
  display: block;
  height: 390px;
  background: #033f38;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  margin: 0px -20px;
}
.home-3 .section .wrap-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 11px;
}
.home-3 .section .wrap-grid .box-collections .images {
  max-width: 100%;
  height: auto;
}

/*# sourceMappingURL=styles.css.map */
