.header {
    &.absolute {
        position: absolute;
        width: 100%;
        top: 0;
        background: transparent;
        border: 0;
        left: 0;
        z-index: 999;
    }
    .menu-bar {
        @include flex(center, space-between);
    }
    .title-header-bar {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}
