.header {
    &.absolute {
        position: absolute;
        width: 100%;
        top: 0;
        background: transparent;
        border: 0;
        left: 0;
        z-index: 999;
    }
    .menu-bar {
        @include flex(center, space-between);
    }
    .title-header-bar {
        display: flex;
        align-items: center;
        gap: 20px;

        .search-box {
            flex-grow: 1;
        }
        &.st1 {
            gap: 12px;
            justify-content: space-between;
            .inner-title-header {
                display: flex;
                align-items: center;
                gap: 20px;
                flex-grow: 1;
            }
            .icon-box {
                width: 56px;
                height: 56px;
                border-radius: 16px;
                border: 1px solid $line-2;
                @include flex(center, center);
                i {
                    font-size: 20px;
                    color: $primary;
                }
            }
        }
    }
}
