.tab-content > .tab-pane {
    display: none;
}

.tab-content > .active {
    display: block;
}

.fade:not(.show) {
    opacity: 0;
}
.fade {
    transition: opacity 0.15s linear;
}

#navtabs-drink1 {
    background: $white;
    @include grid(4, 1fr, 0px, 4px);
    padding: 4px;
    box-shadow: $shadow-1;
    .nav-item {
        a {
            background-color: $bg-input;

            display: block;
            padding: 6px 10px;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            border-radius: 4px;

            @include fh-normal;
            color: $primary;
            &.active {
                background-color: $primary;
                color: $text-2;
                font-weight: 700;
            }
        }
    }
    &.grid-3 {
        @include grid(3, 1fr, 0px, 4px);
    }
}
