.tf-box-row {
    box-shadow: $shadow-1;
    border-radius: 16px;
    padding: 8px;
    display: flex;
    gap: 12px;
    background: $white;
    .img-box {
        border-radius: 14px;
        overflow: hidden;
        max-width: 106px;
        height: 79px;
        img {
            @include wh-full;
        }
    }
    .content-box {
        flex-grow: 1;
        .review {
            display: flex;
            align-items: center;
            margin: 4px 0px;
            li {
                .icon-star {
                    color: $yellow;
                    font-size: 14px;
                    margin-right: 4px;
                }
                span {
                    color: #343434;
                    font-weight: 700;
                    @include fh-normal;
                }
            }
            .dot-icon {
                width: 3px;
                height: 3px;
                background-color: #c4c4c4;
                border-radius: 50%;
                margin: 0px 6px;
            }
        }
        .price {
            display: flex;
            align-items: center;
            gap: 8px;
            .accent {
                font-size: 15px;
                font-weight: 600;
                @include fh-normal;
                color: $primary;
            }
            .del {
                text-decoration: line-through;
            }
        }
        .box-price {
            @include flex(center, space-between);
        }
    }
    &.style-2 {
        align-items: center;
        position: relative;
        .img-box {
            // border-radius: 14px;
            overflow: unset;
            width: 106px;
            height: 106px;
            img {
                @include wh-full;
                box-shadow: $shadow-5;
                border-radius: 50%;
            }
        }
        .btn-add {
            position: absolute;
            bottom: 8px;
            right: 8px;
        }
        .btn-bookmark {
            position: absolute;
            font-size: 16px;
            top: 27px;
            right: 15px;
            color: $primary;
        }
    }
    &.r-center {
        flex-direction: column;
        gap: 20px;
        // align-items: center;
        padding-bottom: 26px;
        position: relative;
        .img-box {
            border-radius: unset;
            overflow: unset;
            max-width: unset;
            height: auto;
            padding: 8px 8px 0px;
            img {
                box-shadow: $shadow-5;
                border-radius: 50%;
            }
        }
        .content-box {
            h5 {
                text-align: center;
            }
            .price {
                font-size: 15px;
                font-weight: 600;
                @include fh-normal;
                color: $primary;
                justify-content: center;
            }
            .review {
                margin: 4px 0px 8px;
                .dot-icon {
                    margin: 0px 10px;
                }
            }
        }
        .btn-add {
            position: absolute;
            bottom: -14px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.tf-box-column {
    box-shadow: $shadow-1;
    border-radius: 16px;
    background: $white;
    .content-box {
        .review {
            display: flex;
            align-items: center;
            margin: 8px 0px;
            li {
                .icon-star {
                    color: $yellow;
                    font-size: 14px;
                    margin-right: 4px;
                }
                span {
                    color: #343434;
                    font-weight: 700;
                    @include fh-normal;
                }
            }
            .dot-icon {
                width: 3px;
                height: 3px;
                background-color: #c4c4c4;
                border-radius: 50%;
                margin: 0px 10px;
            }
        }
        .price {
            font-size: 16px;
            font-weight: 600;
            @include fh-normal;
            color: $primary;
        }
        .box-price {
            @include flex(center, space-between);
        }
    }
    &.xl {
        padding: 8px;
        .img-box {
            overflow: hidden;
            border-radius: 16px;
            img {
                @include wh-full;
            }
        }
        .content-box {
            padding: 16px 8px 8px;

            .price {
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 28px;
                color: $primary;
            }
        }
    }
    &.lg {
        .img-box {
            overflow: hidden;
            max-width: 209px;
            min-height: 156px;
            padding: 6px 6px 0px;
            img {
                border-radius: 16px;
                @include wh-full;
            }
        }
        .content-box {
            padding: 16px;
        }
    }
    &.md {
        padding: 8px;
        .img-box {
            overflow: hidden;
            width: 140px;
            height: 105px;
            img {
                border-radius: 14px;
                @include wh-full;
            }
        }
        .content-box {
            margin-top: 8px;
            .review {
                .dot-icon {
                    margin: 0px 6px;
                }
            }
            .price {
                display: flex;
                flex-direction: column;
                .accent {
                    font-size: 15px;
                    font-weight: 600;
                    @include fh-normal;
                    color: $primary;
                }
                .del {
                    text-decoration: line-through;
                    color: $text;
                    font-size: 12px;
                    font-weight: 400;
                    @include fh-normal;
                }
            }
            .box-price {
                @include flex(center, space-between);
            }
        }
    }
    &.sm {
        .img-box {
            overflow: hidden;
            // width: 150px;
            // height: 110px;
            padding: 6px 6px 0px;
            img {
                border-radius: 14px;
                @include wh-full;
            }
        }
        .content-box {
            padding: 12px 16px 16px;
            .review {
                .dot-icon {
                    margin: 0px 6px;
                }
            }
            .price {
                display: flex;
                flex-direction: column;
                .accent {
                    font-size: 15px;
                    font-weight: 600;
                    @include fh-normal;
                    color: $primary;
                }
                .del {
                    text-decoration: line-through;
                    color: $text;
                    font-size: 12px;
                    font-weight: 400;
                    @include fh-normal;
                }
            }
            .box-price {
                @include flex(center, space-between);
            }
        }
    }
}

.btn-add {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    background-color: $primary;
    padding-top: 2px;
    color: #fff1d0;
    font-size: 20px;
    border-radius: 50%;
    &:hover,
    &:active {
        color: #fff1d0;
    }
}

// search box
.search-box {
    position: relative;
    .icon {
        position: absolute;
        left: 14px;
        top: 18px;
        font-size: 20px;
        color: $color-icon1;
    }
    .icon-filter-2 {
        position: absolute;
        right: 14px;
        top: 18px;
        font-size: 20px;
        color: #343434;
    }
    input {
        padding-right: 42px;
        padding-left: 42px;
    }
}

.box-categories {
    @include flex(center, center);
    padding: 10px;

    gap: 8px;
    border-radius: 100px;
    background: #fff;
    border: 1px solid $line-2;

    .images {
        max-width: 35px;
        height: auto;
        border-radius: 50%;
        overflow: hidden;

        img {
            @include wh-full;

            object-fit: cover;
        }
    }
    span {
        font-size: 14px;
        @include fh-normal;
        font-weight: 700;
        color: $primary;
    }
    &.primary {
        border: 1px solid $rgba-1;
        background: $rgba-1;

        span {
            color: $white;
        }
    }
}

.box-collections {
    position: relative;
    .images {
        border-radius: 16px;
        max-width: 156px;
        height: 210px;
        overflow: hidden;
        img {
            @include wh-full;

            object-fit: cover;
            @include transition3;
        }
    }
    .content {
        position: absolute;
        padding: 10px;
        bottom: 4px;
        left: 4px;
        right: 4px;
        border-radius: 14px;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(2px);
        a,
        p {
            color: $white;
        }
    }
}
.recomand-box {
    border-radius: 16px;
    // max-width: 335px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        border-radius: 16px;

        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $liner-garden;
    }
    .img-box {
        position: relative;

        .bg {
            display: block;
            width: auto;
            height: 148px;
            overflow: hidden;
            border-radius: 16px;

            img {
                @include wh-full;
            }
        }
        .logo {
            max-width: 100px;
            height: 123px;
            position: absolute;
            @include center;
            z-index: 3;
            img {
                @include wh-full;
            }
        }
    }
}

.wrap-categories {
    @include grid(4, 1fr, 15px, 15px);
    .categories-item {
        .box-img {
            border-radius: 16px;
            box-shadow: $shadow-4;
            overflow: hidden;
            img {
                @include wh-full;
            }
        }
        .content {
            padding: 12px 14px 0px;
            text-align: center;
            p {
                color: $primary;
                font-weight: 700;
                font-size: 14px;
                @include fh-normal;
            }
            span {
                font-weight: 400;
                color: $text;
                @include fh-normal;
            }
        }
    }
}

.box-noti-cart {
    padding: 8px;
    background: $primary;
    border-radius: 16px;
    @include flex(center, space-between);
    gap: 10px;
    .box-icon {
        width: 40px;
        height: 40px;
        @include flex(center, center);
        border-radius: 50%;
        background-color: $white;
        i {
            font-size: 20px;
        }
    }
    .content {
        flex-grow: 1;
        p {
            font-weight: 500;
            margin-bottom: 2px;
            @include fh-normal;
            color: $white;
            opacity: 0.4;
        }
        span {
            font-size: 15px;
            font-weight: 500;
            @include fh-normal;
            color: $white;
        }
    }
    .btn-right {
        width: 30px;
        height: 30px;
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        @include flex(center, flex-end);
        i {
            font-size: 20px;
        }
    }
}
