.tf-box-row {
    box-shadow: $shadow-1;
    border-radius: 16px;
    padding: 8px;
    display: flex;
    gap: 12px;
    .img-box {
        border-radius: 14px;
        overflow: hidden;
        max-width: 106px;
        height: 79px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .content-box {
        flex-grow: 1;
        .review {
            display: flex;
            align-items: center;
            margin: 4px 0px;
            li {
                .icon-star {
                    color: $yellow;
                    font-size: 14px;
                    margin-right: 4px;
                }
                span {
                    color: #343434;
                    font-weight: 700;
                    @include fh-normal;
                }
            }
            .dot-icon {
                width: 3px;
                height: 3px;
                background-color: #c4c4c4;
                border-radius: 50%;
                margin: 0px 6px;
            }
        }
        .price {
            display: flex;
            align-items: center;
            gap: 8px;
            .accent {
                font-size: 16px;
                font-weight: 600;
                @include fh-normal;
                color: $primary;
            }
            .del {
                text-decoration: line-through;
            }
        }
        .box-price {
            @include flex(center, space-between);
        }
    }
}

.tf-box-column {
    box-shadow: $shadow-1;
    border-radius: 16px;
    &.xl {
        .img-box {
            overflow: hidden;
            // max-width: 209px;
            // min-height: 156px;
            padding: 6px 6px 0px;
            img {
                border-radius: 16px;
                width: 100%;
                min-height: 100%;
            }
        }
        .content-box {
            padding: 16px;

            .review {
                display: flex;
                align-items: center;
                margin: 8px 0px;
                li {
                    .icon-star {
                        color: $yellow;
                        font-size: 14px;
                        margin-right: 4px;
                    }
                    span {
                        color: #343434;
                        font-weight: 700;
                        @include fh-normal;
                    }
                }
                .dot-icon {
                    width: 3px;
                    height: 3px;
                    background-color: #c4c4c4;
                    border-radius: 50%;
                    margin: 0px 10px;
                }
            }
            .price {
                font-size: 16px;
                font-weight: 600;
                @include fh-normal;
                color: $primary;
            }
            .box-price {
                @include flex(center, space-between);
            }
        }
    }
}

.btn-add {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    background-color: $primary;
    padding-top: 2px;
    color: #fff1d0;
    font-size: 20px;
    border-radius: 50%;
    &:hover,
    &:active {
        color: #fff1d0;
    }
}

// search box
.search-box {
    position: relative;
    .icon-search {
        position: absolute;
        left: 14px;
        top: 18px;
        font-size: 20px;
    }
    .icon-filter-2 {
        position: absolute;
        right: 14px;
        top: 18px;
        font-size: 20px;
        color: #343434;
    }
    input {
        padding-right: 42px;
        padding-left: 42px;
    }
}

.box-categories {
    @include flex(center, center);
    padding: 10px;

    gap: 8px;
    border-radius: 100px;
    background: #fff;
    box-shadow: 0px 8px 26px 0px rgba(0, 0, 0, 0.1);
    .images {
        max-width: 35px;
        height: 33px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    span {
        font-size: 14px;
        @include fh-normal;
        font-weight: 700;
        color: $primary;
    }
}
