.account-area {
    background-image: url("../../../assets/images/background/bg-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 100vh;

    .logo {
        width: 109px;
        height: auto;
        margin: 0 auto;
        img {
            @include wh-full;
        }
    }

    .tf-title {
        h1 {
            color: $white;
            text-align: center;
        }
        p {
            color: $white;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            opacity: 0.5;
        }
    }

    .acount-box {
        position: fixed;
        background-color: $white;
        left: 20px;
        right: 20px;
        bottom: 20px;
        border-radius: 24px;
        padding: 30px;
    }
}
