.driver-onboarding {
    .boarding-box {
        .img-box {
            max-width: 289px;
            height: 319px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }
}
