.scan-section {
    .wrapper-scan {
        .bg-scan {
            border-radius: 16px;
        }
    }
    .bg-success {
        padding: 120px 45px 55px;
    }
    .title-success {
        padding: 0px 40px;
        color: $text-black;
        text-align: center;
    }
}

.icon-scan-bg {
    width: 58px;
    height: 58px;
    @include flex(center, center);
    background-color: $primary;
    border-radius: 50%;
}

.list-view-card {
    @include flex(center, space-between);
    gap: 14px;
    background: $white;
    box-shadow: $shadow-1;
    border-radius: 16px;
    padding: 10px;
    .img {
        width: 60px;
        height: 60px;
        border-radius: 16px;
        @include flex(center, center);
        img {
            width: auto;
        }
    }
    .content {
        flex-grow: 1;
        h5 {
            color: $text-black;
            margin-bottom: 8px;
        }
        p {
            font-size: 14px;
            font-weight: 400;
            @include fh-normal;
        }
    }
    .icon-right {
        font-size: 24px;
        color: $color-icon1;
    }
}
.tf-form-payment {

    
}
